@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shrikhand/v17/a8IbNovtLWfR7T7bMJwbBA.ttf) format('truetype');
}
